ul {
	padding-left: 0;
	list-style-position: inside;
}

h4 {
	padding: 0 0 .5em 0;
}

.presentation {
	float: left;
	margin-right: 1em;
	/* margin-bottom: 1em; */
	text-align: center;
}

.profile_img {
	margin-left: auto;
	margin-right: auto;

	max-width: 10em;

	border-style: dashed;
	border-color: peru;
	/* border-width: 1.75px; */
	border-radius: 0em;

	/* box-shadow: 1px 1px 5px black; */
}

.contact_me {
	/* animation: blinker 1s linear infinite; */
}

@media (max-width: 800px) {
	.article_bottom_bar{
		width: 45%;
		margin-top: 1em;
	}
	.presentation {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.profile_img {
		max-width: 75%;
		margin-bottom: 1em;
	}
}

@media (prefers-color-scheme: light) {
	.article_bottom_bar {
		border-top: 1px dashed #191919;
	}
}

@keyframes blinker {
	50% {
		color: white;
	}
}
