#article-title {
	font-size: 16px;
	text-decoration: underline;
	padding-bottom: 1em;
}

#article-screenshot {
	text-align: center;
}

p {
	padding-bottom: .5em;
}

ul {
	margin-left: 1.5em;
}

.article_bottom_bar {
	border: 0;
	clear:both;

	display:block;

	background-color: #191919;

	width: 60%;
	max-width: 20em;
	height: 0px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 0;

	padding-top: 0;
	padding-bottom: 0;
	/*! border-bottom: dashed; */
	border-top: 1px dashed peru;
}

@media (max-width: 800px) {
	.article_bottom_bar{
		width: 45%;
	}
}

.presentation {
	margin-left: auto;
	margin-right: auto;

	text-align: center;

	padding-top: 1em;
	padding-bottom: 1em;
}

.profile_img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;

	max-width: 20em;

	border-style: dashed;
	border-color: peru;
	/* border-width: 1.75px; */
	border-radius: 0em;

	box-shadow: 1px 1px 5px black;
}

.skills_logos {
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 1em; */
}

.skills_logo {
	max-width: 5em;
	padding: 1em;
}

.linux_logo {
	max-width: 5em;
	padding: 1em;
}

#skills_heading {
	text-align: center;
}
