#article-title {
	font-size: 1.5em;
	text-decoration: underline;
	text-align: left;
	padding-top: 1em;
	padding-bottom: 1em;
}

.article-date {
	font-size: .9em;
	padding-bottom: 2.5em;
	/* color: #588B8B; */
	color: #9D96B8;
	font-style: italic;
}

img {
	padding-top: .75em;
	padding-bottom: .75em;
}

#article-screenshot {
	text-align: center;
}

#article-icon {
	/* text-align: center; */
	/* float: center; */
	/* max-width: 5em; */
	/* flex-basis: 40% */
	width: 3em;
	padding-right: .5em;
}

#article-title-with-icon {
	display: flex;
	align-items: center;
}

p {
	padding-bottom: 1em;
}

ul {
	margin-left: 1.5em;
	padding-bottom: 1em;
}

.article_bottom_bar {
	border: 0;
	clear:both;

	display:block;

	background-color: #191919;

	width: 60%;
	max-width: 20em;
	height: 0px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 0;

	padding-top: 0;
	padding-bottom: 0;
	/*! border-bottom: dashed; */
	border-top: 1px dashed peru;
}

@media (max-width: 800px) {
	.article_bottom_bar{
		width: 45%;
	}
}

@media (prefers-color-scheme: light) {
	.article-date {
		color: #7E5A9B;
	}
	.article_bottom_bar{
		border-top: 1px dashed white;
	}

}
