#article-title {
	font-size: 1.5em;
	text-decoration: underline;
	text-align: left;
	padding-top: 1em;
	padding-bottom: 1em;
}

.article-date {
	font-size: .9em;
	padding-bottom: 2.5em;
	/* color: #588B8B; */
	color: #9D96B8;
	font-style: italic;
}

img {
	padding-top: .75em;
	padding-bottom: .75em;
}

#article-screenshot {
	text-align: center;
}

#article-icon {
	/* text-align: center; */
	/* float: center; */
	/* max-width: 5em; */
	/* flex-basis: 40% */
	width: 3em;
	padding-right: .5em;
}

#article-title-with-icon {
	display: flex;
	align-items: center;
}

p {
	padding-bottom: 1em;
}

ul {
	margin-left: 1.5em;
	padding-bottom: 1em;
}

.article_bottom_bar {
	border: 0;
	clear:both;

	display:block;

	background-color: #191919;

	width: 60%;
	max-width: 20em;
	height: 0px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 0;

	padding-top: 0;
	padding-bottom: 0;
	/*! border-bottom: dashed; */
	border-top: 1px dashed peru;
}

@media (max-width: 800px) {
	.article_bottom_bar{
		width: 45%;
	}
}

@media (prefers-color-scheme: light) {
	.article-date {
		color: #7E5A9B;
	}
	.article_bottom_bar{
		border-top: 1px dashed white;
	}

}

/* Code blocks syntax highlight - Google code prettify syntax style */
.prettyprint {
	background: #282828;
	/* font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace; */
	font-family: "Ubuntu Mono", monospace;
	border: 0 !important;
}

.pln {
	color: #ebdbb2;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #666666;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
	padding-left: 1em;
	background-color: #000;
	list-style-type: decimal;
}

@media screen {
	/* string content */
	.str {
		color: #98971a;
	}

	/* keyword */
	.kwd {
		color: #f60;
	}

	/* comment */
	.com {
		color: #928374;
	}

	/* type name */
	.typ {
		color: #458588;
	}

	/* literal value */
	.lit {
		color: #458;
	}

	/* punctuation */
	.pun {
		color: #ebdbb2;
	}

	/* lisp open bracket */
	.opn {
		color: #ebdbb2;
	}

	/* lisp close bracket */
	.clo {
		color: #ebdbb2;
	}

	/* markup tag name */
	.tag {
		color: #ebdbb2;
	}

	/* markup attribute name */
	.atn {
		color: #9c9;
	}

	/* markup attribute value */
	.atv {
		color: #6f0;
	}

	/* declaration */
	.dec {
		color: #ebdbb2;
	}

	/* variable name */
	.var {
		color: #ebdbb2;
	}

	/* function name */
	.fun {
		color: #458588;
	}
}

@media (prefers-color-scheme: light) {
/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #fff;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #333;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #cccccc;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #fff;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #d14;
  }

  /* keyword */

  .kwd {
    color: #333;
  }

  /* comment */

  .com {
    color: #998;
  }

  /* type name */

  .typ {
    color: #458;
  }

  /* literal value */

  .lit {
    color: #458;
  }

  /* punctuation */

  .pun {
    color: #333;
  }

  /* lisp open bracket */

  .opn {
    color: #333;
  }

  /* lisp close bracket */

  .clo {
    color: #333;
  }

  /* markup tag name */

  .tag {
    color: #000080;
  }

  /* markup attribute name */

  .atn {
    color: #008080;
  }

  /* markup attribute value */

  .atv {
    color: #d14;
  }

  /* declaration */

  .dec {
    color: #333;
  }

  /* variable name */

  .var {
    color: #008080;
  }

  /* function name */

  .fun {
    color: #900;
  }
}

}
