#article-title {
	/* text-decoration: underline; */
	text-align: left;
	padding-top: .5em;
	padding-bottom: 10px;
    font-size: 28px;
}

.article-date {
	font-size: 1em;
	padding-bottom: 2.75em;
	/* color: #588B8B; */
	color: var(--article-date);
	font-style: italic;
	font-family: "inconsolata", monospace;
}

img {
	padding-top: .75em;
	padding-bottom: .75em;
}

.centered-img {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    padding-bottom: .75em;
}

.side-by-side {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    gap: 5px;
    padding-bottom: .75em;
}

.side-by-side img {
  width: 49.6%;
}

#article-screenshot {
	text-align: center;
}

#article-icon {
	/* text-align: center; */
	/* float: center; */
	/* max-width: 5em; */
	/* flex-basis: 40% */
	width: 3em;
	min-width: 2em;
	padding-right: .75em;
	display: inline;
}

#article-icon img {
	max-width: 3em;
	vertical-align: middle;
	padding-top: 0em;
}

#article-title-with-icon {
	/* display: flex; */
	align-items: center;
	padding-bottom: 1em;
	padding-top: 1em;
}

#article-title-with-icon #article-title {
	display: inline;
}

h2 {
	padding-bottom: .5em;
	font-size: 1.5em;
}
h3 { font-size: 1.25em; }
h4 { padding-bottom: .5em; }
em { font-weight: bold; }

ul {
	padding-bottom: 1em;
	list-style-position: inside;
}

blockquote {
	border-left: 4px solid var(--grey1);
	padding-left: .50em;
	font-style: italic;
	pre {
		font-style: normal;
	}
}

@media (max-width: 800px) {
	.article_bottom_bar {
		/* width: 45%; */
		margin-top: 1em;
	}
	#article-title {
		padding-top: .25em;
		/* padding-bottom: .25em; */
		font-size: 26px;

	}
	#article-title-with-icon {
		padding-bottom: .75em;
		padding-top: .75em;
	}
	#article-icon img {
		max-width: 2.5em;
	}

	#article-icon {
		padding-right: .5em
	}

    .side-by-side {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }

    .side-by-side img {
        width: 100%;
    }

    img {
        width: 100%;
    }

}

@media (max-width: 400px) {
	.article_bottom_bar {
		margin-top: .5em;
	}
	#article-title {
		padding-top: .25em;
		/* padding-bottom: .5em; */
		font-size: 26px;
	}
	#article-title-with-icon {
		padding-bottom: .5em;
		padding-top: .5em;
	}

	#article-icon img {
		max-width: 2em;
	}

	#article-icon {
		padding-right: .25em
	}
	h2 { padding-bottom: .5em; }
}
