@import "/css/colors.css";

#blog-index-table #date {
	text-wrap: nowrap;
	vertical-align: top;
	a {
		color: var(--fg-color);
		text-decoration: none;
		padding-right: 5px;
		font-family: "inconsolata", monospace;
	}
}

}
