/* default light */
:root {
	--fg-color: #000000;
	--bg-color: white;
    --hover-brightness: 0.95;
	--hover-bg-color: #E9E9E9;
	--link-color: #A04A00;
	--title-color: #DAA520;

	--accent-color: crimson;

    --footer-color: grey;
    --border-color: #505050;

    --desc-color: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: antiquewhite;
        --bg-color: #191919;
        --hover-brightness: 1.25;
        --hover-bg-color: #443A32;
        --link-color: peru;
    }
}

/*

	#dir-size a,
	#dir-size a:hover {
		color: #141414;
	}

	#file-mode a,
	#file-size a,
	#description a,
	#last-commit a,
	#owner a,
	#log-date a,
	#log-author a,
	#log-files a {
		color: antiquewhite;
	}

	#file-mode a:hover,
	#file-size a:hover,
	#description a:hover,
	#last-commit a:hover,
	#owner a:hover,
	#log-date a:hover,
	#log-author a:hover,
	#log-files a:hover {
		text-decoration: none;
	}
	a:target {
		background-color: #222;
	}
	.desc {
		color: antiquewhite;
	}
	#blob a {
		color: #555;
	}
	#blob a:target {
		color: #eee;
	}
	#blob a:hover {
		color: peru;
	}
	pre a.h {
		color: #00cdcd;
	}
	.A,
	span.i,
	pre a.i {
		color: #00cd00;
	}
	.D,
	span.d,
	pre a.d {
		color: #cd0000;
	}
	#branches tr:hover td,
	#tags tr:hover td,
	#index tr:hover td,
	#log tr:hover td,
	#files tr:hover td,
	#dir-files tr:hover td {
		background-color: #000;
	}

	#legends tr:hover td {
		background: #141414;
	}

	#name a,
	#dir-name a,
	#file-name a,
	.dir, .dir:hover,
	#log-summary a {
		color: peru;
	}
}
*/

* {
	overflow-y: unset;
}

/* Avoid showing the background of the scrollbar when the content is small enough */
html {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
}

body {
	color: var(--fg-color);
	background: var(--bg-color);
	/* font-family: inconsolata, monospace; */
    font-family: "Inter", "Helvetica", "DejaVu Sans", sans-serif, serif, inconsolata, monospace;
	/* font-size: 14px; */
	/* max-width: 120ch; */
	font-size: 18px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10em;
	margin-top: 1em;
}

footer {
	color: var(--footer-color);
	padding: 2em;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

table {
    border-spacing: 0px;
    width: 100%;
}

img, h1, h2 {
	vertical-align: middle;
}

img {
	border: 0;
}

ul {
	padding-left: 1em;
}

/*
a:target {
	background-color: #ccc;
}
*/

a.d, a.h, a.i, a.line {
	text-decoration: none;
}

#entry {
	cursor: pointer;
}

#last-commit {
	white-space: nowrap;
	text-align: right;
}

#index,
#log {
    tr {
        display: block;
        margin-bottom: .5em;
    }
}

#index,
#log,
#refs,
#commit-summary,
#commit-diff {
	width: 100%;
	border: 1px solid var(--border-color);
	padding: 22px;
	border-radius: .5em;
}

/* #refs h2, */
/* #refs td { */
/* 	padding: 0; */
/* } */

#files {
	min-width: 100%;
	border: 1px solid var(--border-color);
	padding: 1em 1.4em 1em 1.4em;
	border-radius: .5em;
}

#dir-files {
	min-width: 100%;
	border: 1px solid var(--border-color);
	padding: 1em;
	margin-top: 0em;
	border-radius: .5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}

#file-mode {
	width: 120px;
}

#readme {
	border: 1px solid var(--border-color);
	padding: 2em;
	margin-top: 1em;
	border-radius: .5em;
}

#readme p {
	line-height: 1.25;
}

#readme-hr, #owner {
	display: none;
}

#name {
	font-weight: bold;
}

#repo-name {
	font-size: 1.75em;
}

#repo-header-table {
	/* padding: 1.25em 1.25em 1em 1.25em; */
    /* margin: -1px; */
    padding: 20px;

    tr {
        filter: brightness(1.0);
    }
}

#main-name {
	font-size: 1.75em;
	color: crimson;
	padding-bottom: .25em;
}

#dir-name {
	font-weight: bolder;
}

#dir-title {
	border: 1px solid var(--border-color);
	padding: 22px;
	margin-bottom: 0;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
}

#binary-file {
	border: 1px solid var(--border-color);
	padding: 1.25em;
	margin-top: 0;
	border-radius: .5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#repo-top-buttons {
	/* padding: 0 1.25em 1em 1.25em; */
    /* margin: -1px; */
    padding: 0 22px 20px 22px;
	font-weight: bold;
    font-size: 20px;
}

#log-date,
#log-author {
	white-space: nowrap;
}

#legends td {
	padding: 0 0.4em;
}

#main-header-table {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	td {
		text-align: center;
	}
    tr {
        filter: brightness(1.0);
    }
}

#main-header-logo, #repo-logo {
	display: none;
}

#main-header-table tbody {
	display: flex;
	justify-content: center;
}

#blob {
	border: 1px solid var(--border-color);
	padding: 1.25em 0.9em;
	margin-top: 0;
	border-radius: .5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#blob a {
	color: #555;
}

#blob a:hover {
	color: var(--link-color);
    filter: brightness(var(--hover-brightness));
	text-decoration: none;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover:not(tr a) {
    background: var(--hover-bg-color);
    filter: brightness(var(--hover-brightness));
    text-decoration: none;
}

#dir-size a {
	color: var(--bg-color);
}

#dir-size a:hover {
    color: var(--hover-bg-color);
}

#name a,
#dir-name a,
#file-name a,
.dir, .dir:hover,
#log-summary a {
	display: block;
	text-decoration: none;
	padding: 2em 2.4em;
	margin: -2em;
    word-wrap: anywhere;
}

#file-size a,
#file-mode a,
#description a,
#last-commit a,
#owner a,
#log-date a,
#log-author a,
#log-files a {
	display: block;
	text-decoration: none;
	padding: 2em 2.4em;
	margin: -2em;
}

#file-size a {
    color: var(--fg-color);
}

/*
#file-mode a:hover ,
#description a:hover,
#last-commit a:hover,
#owner a:hover,
#log-date a,
#log-author a,
#log-files a {
	text-decoration: none;
}
*/

table thead td {
	font-weight: bold;
}

#content table td {
	vertical-align: top;
	/* white-space: nowrap; */
}

td {
	overflow: hidden;
}

/*
#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td,
#dir-files tr:hover td {
	background-color: #eee;
}

#legends tr:hover td {
	background-color: #fff;
}
*/

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

/*
.desc {
	color var(--desc-color);
}

.main-desc {
	color var(--desc-color);
	font-size: 1.25em;
}
*/

hr {
	border: 0;
	border-top: 1px dashed #505050;
	height: 1px;
	margin: 1em 0;
}

pre {
	font-family: monospace;
	overflow-x: auto;
	padding-bottom: 2em;
}

pre a.h {
	color: #00a;
}

.A, span.i, pre a.i {
	color: #070;
}

.D, span.d, pre a.d {
	color: #e00;
}

pre a.h:hover, pre a.i:hover, pre a.d:hover {
	text-decoration: none;
}

#open-file-header {
	/* padding: 0 0.4em; */
	border: 1px solid #505050;
	/* padding: 1.00em; */
    padding: 20px 22px 20px 22px;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	border-bottom: none;
	margin-bottom: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	white-space: initial;

    row-gap: .25em;
}

#open-file-name {
	font-weight: bold;
}

.line {
	display: inline;
	margin-left: -.5em;
}

#line-checkbox {
	/* margin-right: .5em; */
}

#file-parent-path {
	font-weight: bold;
	display: inline;
	padding: 0;
	margin: 0;
}

#file-raw {
	padding: .5em;
    /* margin: 1.25em 1.25em 1.25em 0; */
	border: 1px solid var(--border-color);
	border-radius: .5em;
}

#file-raw:hover {
	background: var(--hover-bg-color);
    filter: brightness(var(--hover-brightness));
	text-decoration: none;
    cursor: pointer;
}

#file-raw a:hover {
	text-decoration: none;
	background: none;
	color: var(fg-color);
}

#readme h1 {
	font-size: 1.75em;
}

#readme	h2 {
	font-size: 1.5em;
	padding: .5em 0em;
}

#readme h3 {
	font-size: 1.25em;
	text-align: left;

	padding-top: .5em;
	padding-bottom: .5em;
}

#readme h4 {
	padding-top: .5em;
	text-align: left;
}

#readme h5 {
	padding-bottom: .25em;
	font-size: 1em;
}

#readme code {
	font-family: "Ubuntu Mono", monospace;
	background-color: rgba(110,118,129,0.2);
	padding: .1em .4em;
	margin: 0;
	border-radius: 6px;
	white-space: nowrap;
}

#readme pre {
	text-align: left;

	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .75em;
	padding-right: .75em;
	border-radius: .2em;
	background-color: rgba(110,118,129,0.2);
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .25em;
	margin-bottom: 1.25em;
	overflow: auto;
}

#readme pre code {
	background: rgba(0,0,0,0);
	padding: 0;
	margin: 0;
	border-radius: 0;
	white-space: inherit;
}

#readme img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: .25em;
	padding: 1em 0em;
}

#owner {
    display: none;
}
#content table td {
    padding-left: 0;
    white-space: break-spaces;
    vertical-align: bottom;
}
#name {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
}

#description {
    display: block;
    width: 100%;
    padding: 0;

    a {
        color: var(--fg-color);
    }
}

#last-commit {
    display: block;
    padding: 0em;
    margin: 0em;
    padding-left: 0px;
    font-size: .85em;
    color: gray;
    text-align: left;
    /* margin-bottom: .5em; */
}

#last-commit a {
    color: gray;
}

#index #legends {
    display: none;
}

a {
    text-decoration: none;
    overflow-wrap: break-word;
}

#name a {
    display: block;
    font-weight: bold;
    text-decoration: none;
}

#name a,
#dir-name a,
#file-name a,
#log-summary a {
    padding: 0;
    margin: 0;
}

#log-summary a {
    color: var(--fg-color);
}

#log tr:hover {
    filter: brightness(var(--hover-brightness));
}

#file-mode a,
#file-size a,
#description a,
#last-commit a,
#owner a,
#log-date a,
#log-author a,
#log-files a {
    padding: 0;
    margin: 0;
}

#index,
#refs,
#files,
#dir-files,
#log,
#commit-summary,
#commit-diff {
    /* padding: 1.25em; */
    padding: 22px;
    margin-top: 0;
}

#files #file-mode, #dir-files #file-mode {
    display: none;
}
#files td, #dir-files td {
    padding: 0;
}

#repo-name {
    font-size: 1.5em;
}
#dir-name {
    padding-left: 0;
    padding-right: 0;
}
.desc {
    font-size: 16px;
}

.main-desc {
    font-size: 1.25em;

    a:hover {
        background: var(--hover-bg-color);
        filter: brightness(var(--hover-brightness));
    }
}

#log-author a {
    color: gray;
}
#last-commit a::before {
    content: "last commit ";
}
#log-author a::before {
    content: "author ";
}
#blob {
    font-size: 16px;
    overflow: scroll;
}

#open-file-name, #dir-title {
    /* padding: 1.25em; */
    margin-right: auto;
    word-wrap: anywhere;
}

#log thead,
#log-files {
    display: none;
}
#log-summary,
#log-date,
#readme-hr {
    display: block;
}
#log-author {
    display: block;
    margin-bottom: 1em;
}
#commit-summary {
    white-space: break-spaces;
}
#commit-diff {
    overflow-x: scroll;
}
#readme {
    padding: 1.50em;
}
#readme img {
    max-width: 100%;
    padding: 0;
}
#readme ul {
    padding-left: 1em;
}
#readme h1 {
    padding-top: .25em;
}

#branches tr:hover,
#tags tr:hover,
#index tr:hover,
#log tr:hover,
#dir-files tr:hover,
#files tr:hover {
    background: var(--hover-bg-color);
}

/*
a:hover {
    color: #a04a00;
}
*/

#line-checkbox-div {
    text-align: center;
    width: min-content;
    white-space: nowrap;
    /* padding: 0 1em 1.25em 0; */
    /* margin-top: 1.25em; */
    /* margin-bottom: 1.25em; */
    margin-right: 1em;
	margin-left: auto;
}

@media (hover: hover) and (pointer: fine) {

    a:hover:not(tr a) {
        filter: brightness(var(--hover-brightness));
    }


    tr:hover {
        filter: brightness(var(--hover-brightness));
    }

    #branches,
    #tags,
    #index,
    #log,
    #files {
        a:hover {
            filter: brightness(1.0);
            /* background: var(--bg-color); */
        }
    }
}

#legends {
    a:hover {
        filter: brightness(1.0);
        background: var(--bg-color);
    }

    tr:hover {
        filter: brightness(1.0);
        background: var(--bg-color);
    }
}

@media (prefers-color-scheme: dark) {
    /*
    #branches tr:hover,
    #tags tr:hover,
    #index tr:hover,
    #log tr:hover,
    #files tr:hover {
        background: var(--hover-bg-color);
    }

    a:hover {
        color: peru;
        background: var(--hover-bg-color);
        text-decoration: none;
    }
    */

    #readme blockquote p {
        margin: 0;
        padding: 0;
    }

    #readme blockquote {
        margin: 1em 0;
        padding: 0.5em 1em;
        border-left: 4px solid antiquewhite;
        /* color: #57606a; */
        background-color: rgba(110,118,129,0.2);
    }

}

@media (max-width: 800px) {
	body {
		font-size: 18px;
		max-width: 98%;
	}
	#owner {
		display: none;
	}
	#content table td {
		padding-left: 0;
		white-space: break-spaces;
		vertical-align: bottom;
	}
	#name {
		display: block;
		font-size: 1.25em;
		font-weight: bold;
	}
	#description {
		display: block;
		width: 100%;
		padding: 0;
	}
	#last-commit {
		display: block;
		/* padding: .25em 0 1em 0; */
        padding: 0em;
        margin: 0em;
		font-size: .85em;
		color: gray;
		text-align: left;
        /* margin-bottom: 1em; */
	}
	#last-commit a {
		color: gray;
	}
	#index #legends {
		display: none;
	}
	a {
		text-decoration: none;
		overflow-wrap: break-word;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
	}

	#name a {
		display: block;
		font-weight: bold;
		text-decoration: none;
	}

	#name a,
	#dir-name a,
	#file-name a,
	#log-summary a {
		padding: 0;
		margin: 0;
	}

	#file-mode a,
	#file-size a,
	#description a,
	#last-commit a,
	#owner a,
	#log-date a,
	#log-author a,
	#log-files a {
		padding: 0;
		margin: 0;
	}

	#index,
	#refs,
	#files,
	#dir-files,
	#log,
	#commit-summary,
	#commit-diff {
		padding: 10px;
	}

	#files #file-mode, #dir-files #file-mode {
		display: none;
	}
	#files td, #dir-files td {
		padding: 0;
	}

	#repo-name {
		font-size: 1.5em;
	}

	#dir-name {
		padding-left: 0;
		padding-right: 0;
	}
	.desc {
		font-size: 16px;
	}
	.main-desc {
		font-size: 1.25em;
	}
	#log-author a {
		color: gray;
	}
	#last-commit a::before {
		content: "last commit ";
	}
	#log-author a::before {
		content: "author ";
	}
	#blob {
		font-size: 16px;
		overflow: scroll;
	}

	#open-file-name, #dir-title {
        padding: 10px;
	}

    #main-header-table {
        padding-bottom: 14px;
    }

    #repo-top-buttons {
        /* padding: 0 .75em .75em .75em; */
        padding: 0 10px 10px 10px;
    }


	#log thead,
	#log-files {
		display: none;
	}
	#log-summary,
	#log-date,
	#readme-hr {
		display: block;
	}
	#log-author {
		display: block;
	}
	#commit-summary {
		white-space: break-spaces;
	}
	#commit-diff {
		overflow-x: scroll;
	}
	#readme {
		padding: 1em;
	}
	#readme img {
		max-width: 100%;
		padding: 0;
	}
	#readme ul {
		padding-left: 1em;
	}
	#readme h1 {
		padding-top: .25em;
	}

    /*
	#branches tr:hover td,
	#tags tr:hover td,
	#index tr:hover td,
	#log tr:hover td,
	#files tr:hover td {
		background-color: #fff;
	}
    */

	#repo-header-table {
		/* padding: .25em .50em .75em .50em; */
		padding: 10px;
	}

	#open-file-header {
		/* padding: .75em; */
        padding: 10px;
	}

    /*
	a:hover {
		color: #a04a00;
	}
    */

	#line-checkbox-div {
		text-align: center;
		width: min-content;
		white-space: nowrap;

        /* margin-top: .75em; */
        /* margin-bottom: .75em; */
	}

    #file-raw {
        /* margin-top: .75em; */
        /* margin-bottom: .75em; */
        /* margin-right: .75em; */
    }

    /*
	@media (prefers-color-scheme: dark) {
		#branches tr:hover td,
		#tags tr:hover td,
		#index tr:hover td,
		#log tr:hover td,
		#files tr:hover td {
			background: var(--hover-bg-color);
		}

		a:hover {
			color: peru;
		}
	}
    */
}
