* {
	overflow-y: unset;
}

/* Avoid showing the background of the scrollbar when the content is small enough */
html {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
}

body {
	color: #000;
	background-color: #fff;
	font-family: inconsolata, monospace;
	font-size: 14px;
	max-width: 120ch;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10em;
	margin-top: 1em;
}

footer {
	color: grey;
	padding: 2em;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

img, h1, h2 {
	vertical-align: middle;
}

img {
	border: 0;
}

ul {
	padding-left: 1em;
}

a:target {
	background-color: #ccc;
}

a.d, a.h, a.i, a.line {
	text-decoration: none;
}

#entry {
	cursor: pointer;
}

#last-commit {
	white-space: nowrap;
	text-align: right;
}

#index,
#log,
#refs,
#commit-summary,
#commit-diff {
	width: 100%;
	border: 1px solid #505050;
	padding: 1em;
	border-radius: .5em;
	margin-top: 1em;
}

#refs h2,
#refs td {
	padding: 0 0.4em;
}

#files {
	min-width: 100%;
	border: 1px solid #505050;
	padding: 1em 1.4em 1em 1.4em;
	border-radius: .5em;
}

#dir-files {
	min-width: 100%;
	border: 1px solid #505050;
	padding: 1em;
	margin-top: 0em;
	border-radius: .5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}

#file-mode {
	width: 120px;
}

#readme {
	border: 1px solid #505050;
	padding: 2em;
	margin-top: 1em;
	border-radius: .5em;
}

#readme p {
	line-height: 1.25;
}

#readme-hr, #owner {
	display: none;
}

#name {
	font-weight: bold;
}

#repo-name {
	font-size: 1.75em;
}

#repo-header-table {
	padding: .25em 2em .75em 2em;
}

#main-name {
	font-size: 1.75em;
	color: crimson;
	padding-bottom: .25em;
}

#dir-name {
	font-weight: bolder;
}

#dir-title {
	border: 1px solid #505050;
	padding: 1em 1.48em;
	margin-bottom: 0;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
}

#binary-file {
	border: 1px solid #505050;
	padding: 1em;
	margin-top: 0;
	border-radius: .5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#repo-top-buttons {
	padding: .5em 2em 1em 2em;
	font-weight: bold;
}

#log-date,
#log-author {
	white-space: nowrap;
}

#legends td {
	padding: 0 0.4em;
}

#main-header-table {
	display: flex;
	justify-content: center;
	padding-bottom: .5em;
	td {
		text-align: center;
	}
}

#main-header-logo, #repo-logo {
	display: none;
}

#main-header-table tbody {
	display: flex;
	justify-content: center;
}

#blob {
	border: 1px solid #505050;
	padding: .5em;
	margin-top: 0;
	border-radius: .5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#blob a {
	color: #555;
}

a {
	color: #a04a00;
	text-decoration: none;
}

a:hover {
	color: crimson;
	text-decoration: underline;
}

#dir-size a, #dir-size a:hover {
	display: block;
	color: #fff;
	text-decoration: none;
}

#name a,
#dir-name a,
#file-name a,
.dir, .dir:hover,
#log-summary a {
	display: block;
	text-decoration: none;
	padding: 2em 2.4em;
	margin: -2em;
	color: #a04a00;
}


#file-size a,
#file-mode a,
#description a,
#last-commit a,
#owner a,
#log-date a,
#log-author a,
#log-files a {
	display: block;
	text-decoration: none;
	padding: 2em 2.4em;
	margin: -2em;
	color: #000;
}

#file-mode a:hover ,
#description a:hover,
#last-commit a:hover,
#owner a:hover,
#log-date a,
#log-author a,
#log-files a {
	text-decoration: none;
	color: #000;
}

#blob a:hover {
	color: #a04a00;
	text-decoration: none;
}

table thead td {
	font-weight: bold;
}

#content table td {
	vertical-align: top;
	/* white-space: nowrap; */
}

td {
	overflow: hidden;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td,
#dir-files tr:hover td {
	background-color: #eee;
}

#legends tr:hover td {
	background-color: #fff;
}

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

.desc {
	color: #555;
}

.main-desc {
	color: #555;
	font-size: 1.25em;
}

hr {
	border: 0;
	border-top: 1px dashed #505050;
	height: 1px;
	margin: 1em 0;
}

pre {
	font-family: monospace;
	overflow-x: auto;
	padding-bottom: 2em;
}

pre a.h {
	color: #00a;
}

.A, span.i, pre a.i {
	color: #070;
}

.D, span.d, pre a.d {
	color: #e00;
}

pre a.h:hover, pre a.i:hover, pre a.d:hover {
	text-decoration: none;
}

#open-file-header {
	padding: 0 0.4em;
	border: 1px solid #505050;
	padding: 1em;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	border-bottom: none;
	margin-bottom: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	white-space: initial;
}

#open-file-name {
	font-weight: bold;
}

.line {
	display: inline;
	margin-left: -.5em;
}

#line-checkbox {
	margin-right: .5em;
}

#line-checkbox-div {
	padding-right: 1em;
	margin-left: auto;
}

#file-parent-path {
	font-weight: bold;
	display: inline;
	padding: 0;
	margin: 0;
}

#file-raw a {
	padding: .5em;
	border: 1px solid #505050;
	border-radius: .5em;
}

#file-raw a:hover{
	text-decoration: none;
	background: #505050;
	color: white;
}

#readme h1 {
	font-size: 1.75em;
}

#readme	h2 {
	font-size: 1.5em;
	padding: .5em 0em;
}

#readme h3 {
	font-size: 1.25em;
	text-align: left;

	padding-top: .5em;
	padding-bottom: .5em;
}

#readme h4 {
	padding-top: .5em;
	text-align: left;
}

#readme h5 {
	padding-bottom: .25em;
	font-size: 1em;
}

#readme code {
	font-family: "Ubuntu Mono", monospace;
	background-color: rgba(110,118,129,0.2);
	padding: .1em .4em;
	margin: 0;
	border-radius: 6px;
	white-space: nowrap;
}

#readme pre {
	text-align: left;

	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .75em;
	padding-right: .75em;
	border-radius: .2em;
	background-color: rgba(110,118,129,0.2);
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .25em;
	margin-bottom: 1.25em;
	overflow: auto;
}

#readme pre code {
	background: rgba(0,0,0,0);
	padding: 0;
	margin: 0;
	border-radius: 0;
	white-space: inherit;
}

#readme img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: .25em;
	padding: 1em 0em;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #141414;
		/* color: #bdbdbd; */
		color: antiquewhite;
		width: 100%;
	}

	a {
		color: peru;
	}

	#dir-size a,
	#dir-size a:hover {
		color: #141414;
	}

	#file-mode a,
	#file-size a,
	#description a,
	#last-commit a,
	#owner a,
	#log-date a,
	#log-author a,
	#log-files a {
		/* color: #bdbdbd; */
		color: antiquewhite;
	}

	#file-mode a:hover,
	#file-size a:hover,
	#description a:hover,
	#last-commit a:hover,
	#owner a:hover,
	#log-date a:hover,
	#log-author a:hover,
	#log-files a:hover {
		/* color: #bdbdbd; */
		color: antiquewhite;
		text-decoration: none;
	}
	a:target {
		background-color: #222;
	}
	.desc {
		color: antiquewhite;
	}
	#blob a {
		color: #555;
	}
	#blob a:target {
		color: #eee;
	}
	#blob a:hover {
		color: peru;
	}
	pre a.h {
		color: #00cdcd;
	}
	.A,
	span.i,
	pre a.i {
		color: #00cd00;
	}
	.D,
	span.d,
	pre a.d {
		color: #cd0000;
	}
	#branches tr:hover td,
	#tags tr:hover td,
	#index tr:hover td,
	#log tr:hover td,
	#files tr:hover td,
	#dir-files tr:hover td {
		background-color: #000;
	}

	#legends tr:hover td {
		background: #141414;
	}

	#name a,
	#dir-name a,
	#file-name a,
	.dir, .dir:hover,
	#log-summary a {
		color: peru;
	}
}

@media (max-width: 800px) {
	body {
		font-size: 16px;
		max-width: 97%;
	}
	#owner {
		display: none;
	}
	#content table td {
		padding-left: 0;
		white-space: break-spaces;
		vertical-align: bottom;
	}
	#name {
		display: block;
		font-size: 1.25em;
		font-weight: bold;
	}
	#description {
		display: block;
		width: 100%;
		padding: 0;
	}
	#last-commit {
		display: block;
		padding: .25em 0 1em 0;
		padding-left: 0px;
		font-size: .85em;
		color: gray;
		text-align: left;
	}
	#last-commit a {
		color: gray;
	}
	#index #legends {
		display: none;
	}
	a {
		text-decoration: none;
		overflow-wrap: break-word;
	}
	#name a {
		display: block;
		font-weight: bold;
		text-decoration: none;
	}

	#name a,
	#dir-name a,
	#file-name a,
	#log-summary a {
		padding: 0;
		margin: 0;
	}

	#file-mode a,
	#file-size a,
	#description a,
	#last-commit a,
	#owner a,
	#log-date a,
	#log-author a,
	#log-files a {
		padding: 0;
		margin: 0;
	}

	#index,
	#refs,
	#files,
	#dir-files,
	#log,
	#commit-summary,
	#commit-diff {
		padding: .5em;
	}

	#files #file-mode, #dir-files #file-mode {
		display: none;
	}
	#files td, #dir-files td {
		padding: 0;
	}
	#repo-top-buttons {
		font-size: 20px;
	}
	#repo-name {
		font-size: 1.5em;
	}
	#dir-name {
		padding-left: 0;
		padding-right: 0;
	}
	.desc {
		font-size: 16px;
	}
	.main-desc {
		font-size: 1.25em;
	}
	#log-author a {
		color: gray;
	}
	#last-commit a::before {
		content: "last commit ";
	}
	#log-author a::before {
		content: "author ";
	}
	#blob {
		font-size: 16px;
		overflow: scroll;
	}

	#open-file-name, #dir-title {
		padding: .75em;
		margin-right: auto;
	}

	#log thead,
	#log-files {
		display: none;
	}
	#log-summary,
	#log-date,
	#readme-hr {
		display: block;
	}
	#log-author {
		display: block;
		padding-bottom: 1em;
	}
	#commit-summary {
		white-space: break-spaces;
	}
	#commit-diff {
		overflow-x: scroll;
	}
	#readme {
		padding: 1em;
	}
	#readme img {
		max-width: 100%;
		padding: 0;
	}
	#readme ul {
		padding-left: 1em;
	}
	#readme h1 {
		padding-top: .25em;
	}

	#branches tr:hover td,
	#tags tr:hover td,
	#index tr:hover td,
	#log tr:hover td,
	#files tr:hover td {
		background-color: #fff;
	}

	#repo-top-buttons {
		padding: .5em .50em 1em .50em;
	}

	#repo-header-table {
		padding: .25em .50em .75em .50em;
	}

	#open-file-header {
		padding: .5em;
	}

	#file-raw a {
		margin-right: .5em;
	}

	a:hover {
		color: #a04a00;
	}

	#line-checkbox-div {
		text-align: center;
		width: min-content;
		white-space: nowrap;
	}

	@media (prefers-color-scheme: dark) {
		#branches tr:hover td,
		#tags tr:hover td,
		#index tr:hover td,
		#log tr:hover td,
		#files tr:hover td {
			background: #141414;
		}

		a:hover {
			color: peru;
		}
	}
}
