@import "/css/colors.css";

* {
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: visible;
	overflow-y: unset;
}

/* Avoid showing the background of the scrollbar when the content is small enough */
html {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
	overflow-y: scroll;
}

body {
	color: var(--fg-color);
	background: var(--bg-color);
	margin-bottom: 15em;
	margin-left: .5em;
	margin-right: .5em;
	font-size: 16px;
	font-family: "Nimbus Sans", "Nimbus Sans L", "Inter", "Helvetica", "inconsolata", monospace, "DejaVu Sans", sans, "Verdana", sans-serif, "Georgia", serif;
}

header {
	color: var(--accent-color);

	max-width: 39em;

	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .25em;

	text-align: center;

	padding-top: .75em;
	padding-bottom: .25em;

	border-top: 1em;
}

#color-scheme-button-light {
	display: none;
}

.header_flex_div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: baseline;
}

.header_bottom_bar {
	border: 0;
	clear:both;

	display: block;

	width: 80%;
	max-width: 35em;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .5em;
	padding-top: 0;
	padding-bottom: 0;
	border-top: 1px dashed var(--secondary-accent-color);
}

#header_link, #header_link_short {
	text-decoration: none;
	color: inherit;
	transition: .75;

	/* font-family: "inconsolata", monospace, "DejaVu Sans", sans, sans-serif; */
	font-family: "Nimbus Sans", "Nimbus Sans L", "Inter", "Helvetica", "inconsolata", monospace, "DejaVu Sans", sans, "Verdana", sans-serif, "Georgia", serif;
}

#color-scheme-button {
	position: absolute;
	top: 30px;
	right: 0;
	display: inline-block;
	cursor: pointer;
	fill: var(--fg-color);
	opacity: 75%;
}

#header_link:hover {
	color: var(--hover-color);
}

#header_title {
	margin-bottom: .150em;
	font-size: 2em;
	width: 100%;
}

article {
	color: var(--fg-color);

	max-width: 39em;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: .9em;

	text-align: left;
	/* text-justify: distribute; */
	/* word-spacing: -2px; */
	/* hyphens: auto; */

	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;

	border-radius: 1em;
}

.article_bottom_bar {
	border: 0;
	clear: both;

	display: block;

	width: 60%;
	max-width: 20em;
	height: 0px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 0;

	padding-top: 0;
	padding-bottom: 0;
	/*! border-bottom: dashed; */
	border-top: 1px dashed var(--secondary-accent-color);
}

footer {
	text-align: center;
	font-size: 0.75em;
	a:hover {
		text-decoration: none;
	}
	br {
		margin-bottom: 3px;
	}
}

#footer-buttons {
	padding: 0;
	margin: 0;
	border-width: 0;
	width: 80px;
	opacity: 45%;
}

#footer-buttons:hover {
	opacity: 100%;
}

.footer-div {
	padding: 0em 2em 2.5em 2em;
	margin-left: auto;
	margin-right:auto;
}

#index-title, #blog-title {
	text-align: center;
	color: var(--title-color);
	padding-top: 0em;
	padding-bottom: .5em;
	/* animation: zoom-in-zoom-out 5s ease-in-out infinite; */
	animation: none;
}

#blog-title {
	animation: none;
}

img {
	overflow: hidden;

	height: 100%;
	width: 100%;

	color: black;
	background: transparent;
}

a:visited, a:active, a:link {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

ol {
	list-style-position: inside;
}

ul {
	list-style-type: none; /* Remove bullets */
	list-style-position: inside;
	list-style: inside;
	padding: 0;
	padding-bottom: .5em;
	margin: 0; /* Remove margins */
}

.header_buttons {
	margin: 0 0 .100em 0;
	padding-bottom: 0em;
	font-size: 1.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
}

h1 { font-size: 1.75em; }

h2 {
	font-size: 1.25em;

	padding-top: 1em;
	padding-bottom: .5em;
}

h3 {
	font-size: 1em;
	text-align: left;

	padding-top: .5em;
	padding-bottom: .5em;
}

h4 { padding-top: .5em; text-align: left; }

h5 {
	padding-bottom: .25em;
	font-size: 1em;
}

p { padding-bottom: 1em; }

code {
	font-size: 85%;
	font-family: "Ubuntu Mono", monospace;
	padding: 0 .1em;
	/* background-color: #656c7633; */
	background-color: var(--code-bg);
	margin: 0;
	border-radius: 6px;
	white-space: wrap;
	word-break: break-all;
}

pre {
    text-align: left;

    padding-top: .75em;
    padding-bottom: .75em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0em;
    background-color: var(--pre-bg-color);
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .25em;
    margin-bottom: 1.25em;
    border-width: thin;
    border-color: var(--pre-border-color);
    border-style: solid;
    /* box-shadow: 5px 5px 7px black; */
    overflow: auto;
    scrollbar-color: var(--pre-border-color);
    scrollbar-width: thin;
}

pre code {
	font-size: 1em;
	background-color: inherit;
	/* background: rgba(0,0,0,0.5); */
	padding: 0;
	margin: 0;
	border-radius: 0;
	white-space: inherit;
}

/* #command { color: #33ff11; } */
#command_sym { color: #ff1694; }
#command_red { color: gold; }

a.anchor{
    display:block;
    position: relative;
    top: 150px;
    visibility: hidden;
}

hr {
	border: 0;
	clear:both;

	display:block;

	width: 90%;
	height: .1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#go_top {
	text-decoration: none;
	color: var(--link-color);
}

#go_top:hover {
	color: var(--accent-color);
}

/* list-style-type: none; /1* Remove bullets *1/ */
/* padding: 0; */
/* padding-bottom: .5em; */
/* text-align: left; */

#blog_entries #date a {
	color: antiquewhite;
	text-decoration: none;
	padding-right: 5px;
	font-family: "inconsolata", monospace;
}

#blog_entries #date {
	text-wrap: nowrap;
	vertical-align: top;
	font-family: "inconsolata", monospace;
}

#blog_entries {
	padding: 0;
	padding-bottom: 10px;
}

#latest-uploads {
	display: flex;
	align-items: center;
	padding-top: 0em;
	padding-bottom: .5em;
}

#urgent-announcement {
	color: var(--fg-color);
	font-weight: bold;
	padding: 0.5em 0em 1em 0em;
}

#urgent-announcement a {
	color: orangered;
	text-decoration: underline;
}

b-time {
	font-family: "inconsolata", monospace;
}

@media (max-width: 800px) {
	body {
		margin-left: 0em;
		margin-right: 0em;
	}
	header {
		padding-top: .5em;
		padding-bottom: 0;
	}
	article {
		padding-top: .75em;
		padding-bottom: .5em;
		margin-bottom: .25em;
	}
	footer {
		padding-top: .5em;
	}
	.header_flex_div{
		flex-direction: column;
		align-items: center;
	}
	.header_buttons{
		margin-top: 0;
		font-size: 1.75em;
		align-self: center;
		padding-top: 0em;
		padding-bottom: .5em;

		a:hover {
			color: peru;
		}
	}
	.header_bottom_bar{
		width: 55%;
	}
	.article_bottom_bar {
		width: 40%;
		padding-top: .5em;
		margin-top: 1em;
	}
	#header_title {
		font-size: 2.50em;
		line-height: 1.10em;
		padding-bottom: .10em;
	}
	#index-title {
		padding-top: 0;
		padding-bottom: .5em;
	}
	#latest-uploads {
		padding-bottom: .25em;
	}
	#header_link {
		display: none;
	}
	#header_link_short {
		display: initial !important;
	}
}

@media (max-width: 400px) {
	header {
		padding-top: 0em;
		padding-bottom: 0;
		margin-top: .25em;
	}
	article {
		margin-bottom: .25em;
	}
	p { padding-bottom: .75em; }
	#header_title {
		font-size: 2.25em;
		padding-bottom: 0;
	}
	.header_bottom_bar {
		margin-top: 0;
		margin-bottom: 0;
	}
	.header_buttons {
		padding-bottom: .25em;
	}
	#index-title {
		padding-top: .25em;
		padding-bottom: .5em;
		font-size: 1.5em;
	}
	#latest-uploads {
		padding-bottom: 0;
	}
	.article_bottom_bar {
		padding-top: .25em;
		margin-top: .5em;
	}
	.footer-div {
		padding: 0em 2em 1.75em 2em;
	}
}

@media (prefers-color-scheme: light) {
	#header_link:hover {
		color: #a04a00;
	}
	.header_bottom_bar {
		border-top: 1px dashed;
	}
	.article_bottom_bar {
		border-top: 1px dashed;
	}
	a:visited {
		color: #a04a00;
	}
	a:link {
		color: #a04a00;
	}
	a:hover {
		color: #CC2936;
	}
	pre {
		background-color: #eee;
		border: 3px solid #aaa;
		border-radius: 0px;
		margin-top: 0;
		box-shadow: 0px 0px 0px;
	}
	#command { color: inherit; }
	#command_sym { color: inherit; }
	#command_red { color: inherit; }

	#go_top:hover {
		color: #CC2936;
	}
	#go_top {
		color: #a04a00;
	}
	#urgent-announcement {
		color: #090909;
	}

	code {
		background-color: rgba(190,198,219,0.2);
	}
}

@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.12, 1.12);
	}
	100% {
		transform: scale(1, 1);
	}
}
