/* src: url('webfont.eot?#iefix') format('embedded-opentype'), /1* IE6-IE8 *1/ */
@font-face {
  font-family: 'Futura Medium';
  src: url('/fonts/Futura/futura_medium.ttf'); /* IE9 Compat Modes */
  src: url('/fonts/Futura/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Futura/FuturaBT-Medium.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Futura/futura_medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Futura/FuturaBT-Medium.svg#svgFutura') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/fonts/UbuntuMono/UbuntuMono-Regular.ttf'); /* IE9 Compat Modes */
  src: url('/fonts/UbuntuMono/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/UbuntuMono/UbuntuMono-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/UbuntuMono/UbuntuMono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/UbuntuMono/UbuntuMono-Regular.svg#svgUbuntuMono') format('svg'); /* Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: visible;
	overflow-y: unset;
}

/* Avoid showing the background of the scrollbar when the content is small enough */
html {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
	/* scroll-behavior: smooth; */
}

body {
	background: #191919;
	/* background: #2F4F4F; */

	/* margin-top: .5em; */
	margin-bottom: 30em;
	margin-left: .5em;
	margin-right: .5em;

	font-size: 16px;
	font-family: "DejaVu Sans", sans;
	/* scroll-behavior: smooth; */
}

header {
	color: crimson;
	/* background: #191919; */

	max-width: 40em;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: .25em;

	text-align: center;
	/* text-shadow: 5px 5px 5px black; */

	padding-top: 1em;
	padding-bottom: .25em;

	border-top: 1em;
}

.header_button {
	float: left;
}

.header_buttons {
	margin: 0;
	margin-top: .75em;
	font-size: 1.5em;
	display: inline;
	align-self: center;
	/* padding-top: 1em; */
}

.header_flex_div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header_bottom_bar {
	border: 0;
	clear:both;

	display:block;

	background-color: #191919;

	width: 80%;
	max-width: 35em;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top: 1px dashed peru;
}

#header_link {
	text-decoration: none;
	color: inherit;
	transition: .75;

	font-family: "Futura Medium";
}

#header_link:hover {
	color: peru;
}

#header_title {
	margin-bottom: 0em;
	font-size: 2.75em;
	display: inline-block;
}

article {
	color: antiquewhite;
	/* background: #191919; */

	max-width: 40em;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: .9em;

	text-align: left;

	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;

	border-radius: 1em;
}

@media (max-width: 800px) {
	body {
		font-size: 16px;
		margin-left: 0em;
		margin-right: 0em;
	}
	header {
		padding-top: .25em;
	}
	.header_flex_div{
		flex-direction: column;
		justify-content: center;
	}
	.header_buttons{
		margin-top: 0;
		font-size: 1.75em;
		align-self: center;
		padding-top: 0em;
	}
	.header_bottom_bar{
		width: 55%;
	}
	#header_title {
		font-size: 3em;
	}
}

img {
	border-radius: .3em;

	overflow: hidden;

	height: 100%;
	width: 100%;

	color: black;
	background: #191919;
}

a:visited {
	color: #C5C8C6;
	color: #575B61;
	color: peru;
}

a:link {
	color: #81A2BE;
	color: peru;
	text-decoration: none;
}

a:hover {
	color: crimson;
	text-decoration: underline;
}

ol {
	list-style-position: inside;
}

ul {
	list-style-type: disc; /* Remove bullets */
	padding: 0;
	padding-bottom: .5em;
	margin: 0; /* Remove margins */
}

footer {
	padding-top: 0em;
	text-align: center;
	font-size: 0.75em;

	/* color: #151515; */
	color: dimgrey;
	font-family: monospace;
}

#index-title {
	text-align: center;
	color: #DAA520;
	/* text-shadow: 5px 5px 5px black; */
	padding-top: .75em;
	padding-bottom: 1em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;

	padding-top: 1em;
	padding-bottom: .5em;
}

h3 {
	font-size: 1em;
	text-align: left;

	padding-top: .5em;
	padding-bottom: .5em;
}

h4 {
	padding-top: .5em;
	text-align: left;
}

h5 {
	/* padding-top: .5em; */
	padding-bottom: .25em;
	font-size: 1em;
}

p {
	padding-bottom: 1em;
}


code {
    text-align: left;

    padding-top: .5em;
    padding-bottom: .5em;
	padding-left: 1em;
	padding-right: 1em;

    border-radius: .2em;

    /* background-color: #03230c; */
    /* background-color: #333333; */
    background-color: #111111;

    width: auto;

    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: .75em;
    margin-bottom: .75em;

    /* max-width: 23em; */
    border-width: thin;
    border-color: antiquewhite;
    border-style: dashed;

	box-shadow: 5px 5px 7px black;

	overflow: auto;

	font-size: .9em;
}

#command {
	/* color: green; */
	color: #33ff11;
}

#command_sym {
	color: #ff1694;
}

#command_red {
	color: gold;
}

a.anchor{
    display:block;
    position: relative;
    top: 150px;
    visibility: hidden;
}

hr {
	border: 0;
	clear:both;

	display:block;

	width: 90%;
	height: .1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#go_top {
	text-decoration: none;
	color: peru;
}

#go_top:hover {
	color: crimson;
}

#blog_entries {
	list-style-type: disc; /* Remove bullets */
	padding: 0;
	padding-bottom: .5em;
	margin-left: 1em; /* Remove margins */
	text-align: left;
}

time {
	font-family: "Ubuntu Mono";
	/* font-family: "IBMPlexMono"; */
}
