@font-face {
	font-family: 'Futura Medium';
	src: local('Futura Medium'),
          local('FuturaBT-Medium'),
          url('/fonts/Futura/FuturaBT-Medium.woff2') format('woff2'), /* Modern Browsers */
          url('/fonts/Futura/FuturaBT-Medium.woff') format('woff'),
          url('/fonts/Futura/FuturaBT-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
          url('/fonts/Futura/FuturaBT-Medium.svg#svgFutura') format('svg'), /* Legacy iOS */
          url('/fonts/Futura/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/fonts/Futura/FuturaBT-Medium.ttf'); /* IE9 Compat Modes */

	font-display: swap;
}

/* latin only */
@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/ubuntumono/v15/KFOjCneDtsqEr0keqCMhbCc6CsQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'download';
	src: url('/fonts/download/download.eot');
	src: url('/fonts/download/download.eot') format('embedded-opentype'),
		 url('/fonts/download/download.woff') format('woff'),
		 url('/fonts/download/download.ttf') format('truetype'),
		 url('/fonts/download/download.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-download {
	font-family: 'download';
	color: gray;
	font-size: 16px;
	text-decoration: none;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: visible;
	overflow-y: unset;
}

/* Avoid showing the background of the scrollbar when the content is small enough */
html {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
}

body {
	background: #191919;
	margin-bottom: 15em;
	margin-left: .5em;
	margin-right: .5em;
	font-size: 16px;
	font-family: "DejaVu Sans", sans, "Verdana", sans-serif, "Georgia", serif;
}

header {
	color: crimson;

	max-width: 40em;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: .25em;

	text-align: center;

	padding-top: 1em;
	padding-bottom: .25em;

	border-top: 1em;
}

.header_flex_div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
}

.header_bottom_bar {
	border: 0;
	clear:both;

	display:block;

	width: 80%;
	max-width: 35em;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top: 1px dashed peru;
}

#header_link {
	text-decoration: none;
	color: inherit;
	transition: .75;

	font-family: "Futura Medium";
}

#header_link:hover {
	color: peru;
}

#header_title {
	margin-bottom: 0em;
	font-size: 2.5em;
}

article {
	color: antiquewhite;

	max-width: 40em;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: .9em;

	text-align: left;

	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;

	border-radius: 1em;
}

.article_bottom_bar {
	border: 0;
	clear: both;

	display: block;

	width: 60%;
	max-width: 20em;
	height: 0px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 0;

	padding-top: 0;
	padding-bottom: 0;
	/*! border-bottom: dashed; */
	border-top: 1px dashed peru;
}

footer {
	padding-top: .5em;
	text-align: center;
	font-size: 0.75em;

	color: dimgrey;
	font-family: monospace;
}

#cc-logo {
	padding: 0;
	margin: 0;
	border-width: 0;
	width: 88px;
	opacity: 35%;
}

#cc-logo:hover {
	opacity: 100%;
}

.footer-div {
	padding: 0em 2em 2.5em 2em;
	margin-left: auto;
	margin-right:auto;
}

#index-title {
	text-align: center;
	color: #DAA520;
	padding-top: .25em;
	padding-bottom: .5em;
}

img {
	overflow: hidden;

	height: 100%;
	width: 100%;

	color: black;
	background: #191919;
}

a:visited, a:active, a:link {
	color: peru;
	text-decoration: none;
}

a:hover {
	color: crimson;
	text-decoration: underline;
}

ol {
	list-style-position: inside;
}

ul {
	list-style-type: none; /* Remove bullets */
	list-style-position: inside;
	list-style: inside;
	padding: 0;
	padding-bottom: .5em;
	margin: 0; /* Remove margins */
}

.header_buttons {
	margin: 0;
	padding-bottom: 0em;
	font-size: 1.5em;
	display: flex;
	list-style-type: none;
}

h1 { font-size: 1.75em; }

h2 {
	font-size: 1.25em;

	padding-top: 1em;
	padding-bottom: .5em;
}

h3 {
	font-size: 1em;
	text-align: left;

	padding-top: .5em;
	padding-bottom: .5em;
}

h4 { padding-top: .5em; text-align: left; }

h5 {
	padding-bottom: .25em;
	font-size: 1em;
}

p { padding-bottom: 1em; }

code {
	font-size: 85%;
	font-family: "Ubuntu Mono", monospace;
	background-color: rgba(110,118,129,0.4);
	padding: .1em .4em;
	margin: 0;
	border-radius: 6px;
	white-space: nowrap;
}

pre {
    text-align: left;

    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .75em;
    padding-right: .75em;
    border-radius: .2em;
    background-color: #111111;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .25em;
    margin-bottom: 1.25em;
    border-width: thin;
    border-color: antiquewhite;
    border-style: dashed;
    /* box-shadow: 5px 5px 7px black; */
    overflow: auto;
}

pre code {
	font-size: 1em;
	background-color: inherit;
	/* background: rgba(0,0,0,0.5); */
	padding: 0;
	margin: 0;
	border-radius: 0;
	white-space: inherit;
}

#command { color: #33ff11; }
#command_sym { color: #ff1694; }
#command_red { color: gold; }

a.anchor{
    display:block;
    position: relative;
    top: 150px;
    visibility: hidden;
}

hr {
	border: 0;
	clear:both;

	display:block;

	width: 90%;
	height: .1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#go_top {
	text-decoration: none;
	color: peru;
}

#go_top:hover {
	color: crimson;
}

#blog_entries {
	list-style-type: none; /* Remove bullets */
	padding: 0;
	padding-bottom: .5em;
	text-align: left;
}

#latest-uploads {
	display: flex;
	align-items: center;
	padding-top: .5em;
	padding-bottom: .5em;
}

#urgent-announcement {
	color: antiquewhite;
	font-weight: bold;
	padding: 0.5em 0em 1em 0em;
}

#urgent-announcement a {
	color: orangered;
	text-decoration: underline;
}


time {
	font-family: "Ubuntu Mono", monospace;
	/* font-family: "IBMPlexMono"; */
}

@media (max-width: 800px) {
	body {
		font-size: 16px;
		margin-left: 0em;
		margin-right: 0em;
	}
	header {
		padding-top: .5em;
		padding-bottom: 0;
	}
	article {
		padding-top: .75em;
		padding-bottom: .5em;
		margin-bottom: .25em;
	}
	.header_flex_div{
		flex-direction: column;
		align-items: center;
	}
	.header_buttons{
		margin-top: 0;
		font-size: 1.75em;
		align-self: center;
		padding-top: 0em;
		padding-bottom: .5em;
	}
	.header_bottom_bar{
		width: 55%;
	}
	.article_bottom_bar {
		width: 40%;
		padding-top: .5em;
		margin-top: 1em;
	}
	#header_title {
		font-size: 2.75em;
		padding-left: .5em;
		padding-right: .5em;
		line-height: 1.10em;
		padding-bottom: .10em;
	}
	#index-title {
		padding-top: .25em;
		padding-bottom: .5em;
	}
	#latest-uploads {
		padding-bottom: .25em;
	}
	p { padding-bottom: .5em; }
}

@media (max-width: 400px) {
	#header_title {
		font-size: 2.5em;
		padding-left: .25em;
		padding-right: .25em;
	}
	.header_buttons {
		padding-bottom: .25em;
	}
	#index-title {
		padding-top: .25em;
		padding-bottom: .5em;
		font-size: 1.5em;
	}
	#latest-uploads {
		padding-bottom: 0;
	}
	p { padding-bottom: .75em; }
	.article_bottom_bar {
		padding-top: .25em;
		margin-top: .75em;
	}
	article {
		margin-bottom: .25em;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: #090909;
	}
	article {
		color: #090909;
	}
	#header_link {
		color: #CC2936;
	}
	#header_link:hover {
		color: #a04a00;
	}
	.header_bottom_bar {
		border-top: 1px dashed #191919;
	}
	.article_bottom_bar {
		border-top: 1px dashed #191919;
	}
	a:visited {
		color: #a04a00;
	}
	a:link {
		color: #a04a00;
	}
	a:hover {
		color: #CC2936;
	}
	#index-title {
		color: inherit;
	}
	pre {
		background-color: #eee;
		border: 3px solid #aaa;
		border-radius: 0px;
		margin-top: 0;
		box-shadow: 0px 0px 0px;
	}
	#command { color: inherit; }
	#command_sym { color: inherit; }
	#command_red { color: inherit; }

	#go_top:hover {
		color: #CC2936;
	}
	#go_top {
		color: #a04a00;
	}
	#urgent-announcement {
		color: #090909;
	}
	img {
		background: white;
	}
}
