#vim_logo {
	/* float: center; */
	max-width: 5em;
	flex-basis: 40%
}

h3 {
	/* margin-top: 1.5em; */
	/* margin-bottom: 1.5em; */
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: -1.25em;
}

.title_img {
	flex-basis: 10%;
}

.title_text {
  /* padding-left: 20px; */
}

p {
	margin-bottom: 1em;
}
