/* src: url('webfont.eot?#iefix') format('embedded-opentype'), /1* IE6-IE8 *1/ */
@font-face {
	font-family: 'Futura Medium';
	src: local('Futura Medium'),
		 local('FuturaBT-Medium'),
		 local('futura_medium'),
		 url('/fonts/Futura/FuturaBT-Medium.woff2') format('woff2'), /* Modern Browsers */
	  	 url('/fonts/Futura/FuturaBT-Medium.woff') format('woff'),
		 url('/fonts/Futura/futura_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('/fonts/Futura/FuturaBT-Medium.svg#svgFutura') format('svg'), /* Legacy iOS */
	     url('/fonts/Futura/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/Futura/futura_medium.ttf'); /* IE9 Compat Modes */
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: local('Ubuntu Mono'),
		 local('UbuntuMono-Regular'),
		 local('UbuntuMono'),
		 url('/fonts/UbuntuMono/UbuntuMono-Regular.woff2') format('woff2'), /* Modern Browsers */
		 url('/fonts/UbuntuMono/UbuntuMono-Regular.woff') format('woff'), /* Modern Browsers */
		 url('/fonts/UbuntuMono/UbuntuMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('/fonts/UbuntuMono/UbuntuMono-Regular.svg#svgUbuntuMono') format('svg'), /* Legacy iOS */
		 url('/fonts/UbuntuMono/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/UbuntuMono/UbuntuMono-Regular.ttf'); /* IE9 Compat Modes */
}

