.presentation {
	margin-left: auto;
	margin-right: auto;

	text-align: center;

	padding-top: 1em;
	padding-bottom: 1em;
}

.profile_img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;

	max-width: 20em;

	border-style: dashed;
	border-color: peru;
	/* border-width: 1.75px; */
	/* border-radius: .75em; */

	box-shadow: 3px 3px 3px black;
}

.skills_logos {
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 1em; */
}

.skills_logo {
	max-width: 5em;
	padding: 1em;
}

.linux_logo {
	max-width: 5em;
	padding: 1em;
}

#skills_heading {
	text-align: center;
}
